
* {
  
  margin: 0;
  font-family: 'Archivo Black', sans-serif;
 
}

h1 {
  font-size: 120px;
  font-weight: 400;
  text-decoration: underline;
  margin: 20px 0;
}

nav {
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: 0;
  top: 0;
  background: #d82265;
  z-index: 2;
}

a {
  display: flex;
  margin: 5px;
  justify-content: right;
  align-items: right;
  padding: 10px;
}

a img {
  width: 50px;
  height: 50px;
}

header {
  background: #d82265;
  color: white;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
}

.header-title {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 50px;
  margin: 100px 0 0 0;
  height:400px;
  /* background-color: teal; */
}

 /* .fade-in {
  animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
} */


@media (prefers-reduced-motion: no-preference) {
  .taco {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  

.header-title .taco {
  background-image: url('./images/Taco-01.svg');
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
  margin-left: 50px;
  /* right: 20px;
  top: 20px; */
  /* position: absolute; */
}

.header-title h1 {
  font-size: 150px;
  font-weight: 400;
  margin: 0 0 0 9px;
  text-decoration: none;
}

.about {
  margin: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.about-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about img {
  width: 500px;
  border: 10px solid black;
}

.about h1 {
  text-align: center;
}

p {
  font-family: 'Montserrat Alternates', sans-serif;
}

.about-paragraph {
  width: 40vw;
  font-size: 28px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.skills-container {
  height: 1050px;
  background-color: #ffde03;
  align-items: baseline;
  background-image: url('./images/toolBelt-01.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
}

.header-tagline {
  padding-left:  50px;
  background: #d82265;
  padding-bottom: 40px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-tagline h2 {
  margin:  0 0 0 20px;
  font-size: 60px;
  font-weight: 400;
}

.skills-div {
  /* padding-top: 40px; */
  margin-left: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.icons {
  width: 600px;
  background-color: black;
  border-radius: 10px;
  color: #ffde03;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 120px;
  padding: 20px 0;
}

i {
  margin: 5px 30px;
}

.work {
  padding: 100px;
  text-align: center;
}

.work-container {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
}

.work-img-div {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  width: 930px;
  border: 5px solid black;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin: 20px
}
.work-img {
  width: 900px;
  border-radius: 20px;
}

.work-desc-div {
  width: 25vw;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.work h2 {
  font-size: 50px;
  padding: 15px 0;
}

.work h3 {
  font-size: 40px;
  padding: 15px 0;
}

.work p {
  font-size: 24px;
}

button {
  margin: 50px 0;
  background-color: black;
  border: none;  
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

button a {
  text-decoration: none;
  color: white;
  font-family: 'Archivo Black', sans-serif;
  font-size: 24px;
}

.about p {
  margin: 20px;
  text-indent: 50px;
  text-align: left;
}

.contact {
  height: 200px;
  background: #d82265;
}
