/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  /* margin: 0 auto; */
  margin: 0;
  font-family: 'Archivo Black', sans-serif;
 
}

nav {
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  background: #d82265;
  z-index: 2;
}

a {
  display: flex;
  margin: 5px;
  justify-content: right;
  align-items: right;
  padding: 10px;
}

a img {
  width: 50px;
  height: 50px;
}

header {
  background: #d82265;
  color: white;
  width: 100%;
  
}

.header-title {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 50px;
  margin: 100px 0 0 0;
  height: 500px;
}


.header-title .taco {
  background-image: url('./images/Taco-01.svg');
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
  right: 20px;
  top: 20px;
  /* position: absolute; */
}

.header-title h1 {
  font-size: 150px;
  font-weight: 400;
  margin: 0 0 0 9px;
}

.about {
  height: 600px;
  display: flex;
  align-items: center;
}

.about-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-family: 'Montserrat Alternates', sans-serif;
}

.about-paragraph {
  width: 40vw;
  font-size: 28px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.skills-container {
  height: 1200px;
  background-color: #ffde03;
  align-items: baseline;
  background-image: url('./images/toolBelt-01.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.header-tagline {
  padding-left:  50px;
  background: #d82265;
  padding-bottom: 20px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-tagline h2 {
  margin:  0 0 0 20px;
  font-size: 60px;
  font-weight: 400;
  
 
}

/* .tools {
  height: 1000px;
  border: 10px solid black;
  display: flex;
  align-items: flex-end;
  background-image: url('./images/toolBelt-01.svg');
  background-repeat: no-repeat;
} */

.logo {
  width: 200px;
}

.icons {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  font-size: 120px;
}
